
#counterLabel{
    display: block;
    text-align: center;
    font-size: 100px;
}
#buttons{
    text-align: center;

}
#randomLabels{
    text-align: center;
}
body{
    background-color: aquamarine;
}
button{
    width: 300px;
    background-color: white;
}
button::hover{
    background-color:rgb(255, 0, 0);
}
a{
    text-align: center;
}
#randomBtn{
    text-align: center;
}
