
#output{
    display: block;
    text-align: center;
    font-size: 100px;
}
#buttons1{
    text-align: center;

}
#randomlabels{
    text-align: center;
}
body{
    background-color: aquamarine;
}
button{
    width: 300px;
    background-color: white;
}
button::hover{
    background-color:rgb(255, 0, 0);
}

