
#counterLabel{
    display: block;
    font-size: 100px;
}
body{
    background-color: aquamarine;
    text-align: center;
}
.button{
    width: 300px;
    background-color: white;
    height:6em;
}
